<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    
   <!-- {% include header.html %} -->
    
    <button class="favorite styled"
        type="button">
    Add to favorites
</button>
    <main class="page-content" aria-label="Content">
  <div class="wrapper">
        {{ content }}
      </div>

<canvas id="myCanvas">
Your browser does not support the canvas tag.
</canvas>
<script type="text/javascript" 
        src="//rf.revolvermaps.com/0/0/6.js?i=5mnncmxxqfe&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async">
      </script>
<script>
var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");
ctx.fillStyle = "#FF0000";
ctx.fillRect(0, 0, 80, 80);
//Turn transparency on
ctx.globalAlpha = 0.2;
ctx.fillStyle = "blue";
ctx.fillRect(50, 50, 75, 50);
ctx.fillStyle = "green";
ctx.fillRect(80, 80, 75, 50);
</script>

<svg viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg">
  <!--
  with relative unit such as percentage, the visual size
  of the square looks unchanged regardless of the viewBox`
  -->
  <rect x="0" y="0" width="50%" height="50%"/>

  <!--
  with a small viewBox the circle looks large
  as it is using user units for the r attribute:
  4 resolved against 10 as set in the viewBox
  -->
  <circle cx="50%" cy="50%" r="4" fill="red"/>
</svg>

    </main>


    {% include footer.html %}

  </body>

</html>

